body{
    padding: 0px;
    margin: 0px;
}
.complete-header{
    position: fixed;
    top: -1px;
    z-index: 10;
    width: 100%;
}
#Black_footer_main{
    margin-top: -15px;
    background-color: #333;
    height: 38px;
    font-family: sans-serif;
}

#Black_footer_main ul{
    display: flex;
    gap:2%;
    justify-content: right;
    margin-right: 2%;
}

#Black_footer_main ul li{
    list-style: none;
    margin-top: 10px;
}

#Black_footer_main ul a{
    text-decoration: none;
    color:white;
    font-size: 15px;
}

#Black_footer_main ul li img{
    height:20px;
    width: 20px;
}
.navigation-bar {
    display: flex;
    font-family: sans-serif;
    border-bottom: 1px solid rgb(185, 177, 177);
    padding: 0px;
    height: 60px;
    /* position: fixed; */
    background-color: white;
    /* top: 0px; */
}
.category-name {
    list-style: none;
    display: inline-flex;
    gap: 30px;
}
.category-name span{
    font-weight: bold;
    cursor: pointer;
}
.category-name>li:last-child{
    color: red;
}
.category-name>li>span>a{
    text-decoration: none;
    color: black;
}
.category-container {
    background-color: white;
    display: flex;
    display: none;
    position: fixed;
    width: 850px;
    left: 170px;
    padding: 10px;
    line-height: 24px;
}

.category-container ul {
    list-style: none;
    border-right: 1px solid black;
    padding-right: 20px;
}
.category-container ul:last-child{
    border-right: none;
}

.category-name>li:hover .category-container {
    display: flex;
    border: 1px solid black;
}
.category-container a{
    text-decoration: none;
    color: black;
}
.nav-search-box{
    padding: 8px 10px;
    /* float: right; */
    margin-left: 200px;
    border: 1px solid black;
    margin-top: 10px;
}
.nav-search-box input{
    border: none;
    width: 300px;
}
.cart-icon-in-header{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-image+div{
    margin-top: 10px;
}


@media screen and (min-width:667px){
    #small{
        display:none;
    }
}

@media screen and (max-width:666px){
    #big{
        display:none;
    }
}




        body{
            margin:0
        }
       #Small_header{
           width:100%;
           display: flex;
           

       }
       #Small_header>div{
           font-size: 24px;
       }


       #Small_header .logo-image{
           width:30%;
           height: 40px;
       }
       #Small_header .logo-image img{
         width:100%;
         height: 100%;
         margin-top: 0px;
        
       }
       #Small_header div:nth-child(1)
       {
           margin-top: 5px;
           margin-left: 5%;
           color: rgb(100, 95, 95)

       }

       #Small_header div:nth-child(2)
     {
       margin-left: 20%;
     }

       #Small_header div:nth-child(3)
       {
        margin-top: 10px;
           display: flex;
           margin-left: 10%;
    
       } 
       #Small_header div:nth-child(3)
       {
           width:25%;
           display: flex;
           justify-content: space-between;
           color: rgb(180, 174, 174)
       }

   #small_sidebar {
       width: 70%;
   }
   #small_sidebar a{
       text-decoration: none;
    color: white;
   }
   #small_sidebar li{
       list-style: none  ;
   }
#small_sidebar{
    background-color: #333;
    color: white;
}



#xhelp{
    display: block;
}
 .smallreal{
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding-left:7%;
    padding-right: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:1px solid black;
    font-family: sans-serif;
    font-size: 20px;
    align-items: center;
    width:70%
}
.smallmain{
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    font-family: sans-serif;
    font-size: 15px;
    justify-items: center;
}
.smalllist{
    display: none;
}
.smalllist ul{
line-height: 25px;
}
#xwinterwear .smallreal a{
    font-size: 15px;
    color: red;
}
#xhelp{
    line-height: 30px;
    padding-left: 4%;
}
#xlogin{
    display: flex;
    gap: 20px;
    font-size: 25px;
    padding:10px;
    border-bottom: 1px solid black;
    width: 0;
}
#xnav{
    display: flex;
    position: fixed;
    top: 0px;
}

#small_sidebar{
    width:0;
    transition: 0.8s;
    visibility:collapse;
}
