
#checkoutPage{
    margin: auto;
    margin-top: 70px;
    border: 1px solid transparent;
    width: 85%;
}
#shippingAddress{
    width: 500px;
    margin: auto;
    margin-top: 50px;
}
#checkoutPage input::-webkit-outer-spin-button,
#checkoutPage input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#checkoutPage option:first{
    color: grey;
}

#checkoutPageh4{
    width: 300px;
    margin: auto;
    color: rgb(68, 65, 65);
    border-bottom: gray 1px solid;
    text-align: center;
    margin-bottom: 25px;
}
#checkoutPage input, #checkoutPage select{
    width: 470px;
    margin-bottom: 10px;
    font-size: small;
    font-weight: lighter;
    border: 1px solid rgb(192, 183, 183);
    padding: 3%;
}
#pin{
    width: 150px;
}
#proceedToCheckout{
    text-align: right;
    background-color: white;
    padding: 1%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
#proceedToCheckoutBtn{
    border: none;
    width: 250px;
    padding: 1%;
    color: white;
    font-weight: bold;
    letter-spacing: .5px;
    background-color: rgb(190, 9, 9);
    cursor: pointer;

}
#proceedToCheckoutBtn:hover{
    background-color: grey;
}